html, body {
    background-color:lightslategray;
}

.container {
    width:1200px;
    height:100%;
}

p {
    color:white;
}

button {
    background-color:lightpink;
    text-align:center;
}

#add-topic {
    background-color:lightpink;
}

label {
    background-color:lightpink;
}